<div class="row justify-content-center mt-5">
  <div class="col-12 col-md-9 col-lg-6 col-xl-4">
    <div class="card">
      <div class="card__image-container"></div>

      <svg class="card__svg" viewBox="0 0 800 500">
        <path
          d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
          stroke="transparent"
          fill="#333"
        />
        <path
          class="card__line"
          d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
          stroke="pink"
          stroke-width="3"
          fill="transparent"
        />
      </svg>

      <div class="card__content fs-5">
        <p>
          Please go to the login page and enter the username and password
          “Admin”.
        </p>
        <p>
          This application is built by Angular as client side and Nodejs as
          server side.
        </p>
      </div>
    </div>
  </div>
</div>
